.employeeTable {
  margin-top: 96px;
  color: white;
}

.description {
  height: 48px;
  width: 100%;
  background-color: #262a9e;
  display: flex;
  align-items: center;
}

h3 {
  width: 15%;
}

.personnelNo {
  margin-left: 34px;
}

.addButton {
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  background-color: #262a9e;
  color: white;
  font-size: 16px;
  margin-top: 32px;
  margin-left: 43%;
  cursor: pointer;
}

.hidden {
  display: none;
}
